
<app-navbar></app-navbar>

<h2 class="text-center my-5">Finalizar Compra</h2>

<app-cart [component]="component"></app-cart>

<h4 class="text-center">Elige como recibiras tu producto</h4>
<!-- Acordeon -->
<!-- <div class="row row-cols-3 justify-content-center">
    <accordion [closeOthers]="oneAtATime" [isAnimated]="true">
        <accordion-group heading="Envío a Domicilio">
            <form>
                <div class="mb-3">
                    <label for="codPos">Codigo Postal</label>
                    <input id="codPos" type="text" placeholder="Codigo Postal" class="form-control"
                    formControlName="codPos">
                </div>
                <div class="mb-3">
                    <label for="calle">Calle</label>
                    <input id="calle" type="text" placeholder="Calle" class="form-control"
                    formControlName="calle">
                </div>
                <div class="mb-3">
                    <label for="numero">Numero</label>
                    <input id="numero" type="number" placeholder="Numero" class="form-control"
                    formControlName="numero">
                </div>
            </form>
        </accordion-group>
        <accordion-group heading="Retiro en sucursal">
            <p>
                Sucursal 1
            </p>
            <p>
                Sucursal 2
            </p>
        </accordion-group>
      </accordion>
</div> -->

<!-- Desplegable -->
<div class="text-center">
    <div class="btn-group text-begin mb-5">

        <button type="button" class="btn btn-success" [disabled]="collapsed" (click)="collapsed = !collapsed"
        [attr.aria-expanded]="!collapsed" aria-controls="collapseBasic">Envío a Domicilio
          </button>
          <button type="button" class="btn btn-primary" [disabled]="!collapsed" (click)="collapsed = !collapsed"
          [attr.aria-expanded]="collapsed" aria-controls="collapseBasic">Retiro en Sucursal
            </button>
    </div>
    <div class="text-start m-5 px-5">
        <!-- Envío a Domicilio -->
        <div id="collapseBasic" [collapse]="!collapsed" [isAnimated]="true">
            <h2 class="text-center my-3" id="envio">Envío a Domicilio</h2>
            <div class="well well-lg card card-block card-header">
                
                <form [formGroup]="formGroup!" (ngSubmit)="setDomicile()">
                    <div class="mb-3">
                        <label for="codPos">Codigo Postal</label>
                        <input id="codPos" type="text" placeholder="Codigo Postal" class="form-control"
                        formControlName="codPos">
                    </div>
                    <div class="mb-3">
                        <label for="calle">Calle</label>
                        <input id="calle" type="text" placeholder="Calle" class="form-control"
                        formControlName="calle">
                    </div>
                    <div class="mb-3">
                        <label for="numero">Numero</label>
                        <input id="numero" type="number" placeholder="Numero" class="form-control"
                        formControlName="numero">
                    </div>
                    <!-- Codigo Auxiliar -->
                    <button [disabled]="!formGroup!.valid" class="btn btn-outline-success">Registrar Domicilio</button>
                    <!--  -->
                </form>
            </div>
        <!-- Retiro en sucursal -->
        </div>
        
        <div id="collapseBasic" [collapse]="collapsed" [isAnimated]="true">
            <h2 class="text-center my-3" id="sucursal">Retiro en Sucursal</h2>
            <div class="well well-lg card card-block card-header">
                <form id="sucursales">
                    <label>
                        <input type="radio" name="sucursal" value="montevideo">
                        Montevideo 1343, Rosario
                    </label><br>
            
                    <label>
                        <input type="radio" name="sucursal" value="oroño">
                        Oroño 1515, Rosario
                    </label><br>
            
                    <label>
                        <input type="radio" name="sucursal" value="StaFe">
                        Santa Fe 2500, Rosario
                    </label><br>
            
                    <label>
                        <input type="radio" name="sucursal" value="SanJuan">
                        San Juan 800, Rosario
                    </label><br>
            
                    <button type="button" (click)="setSucursal()">Enviar</button>
                </form>



            </div>
        </div>
    </div>
    <!-- <div class="my-5 text-center">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Envío a Domicilio
          </button>
      <hr>
          <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
          <div class="well well-lg card card-block card-header">Some content</div>
          </div>
    </div >
   <div class="my-5 text-center">
    <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
      </button>
  <hr>
      <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
      <div class="well well-lg card card-block card-header">Some content</div>
      </div>
   </div> -->
      




</div>
<div class="text-center my-5">
    <button class="btn btn-primary" [disabled]="!formGroup!.valid" (click)="openModal(template)">
        Finalizar Compra
    </button>   
</div>

<ng-template #template>
    <div class="modal-header">
      <h5 style="margin-left: 10%;">Datos Tarjeta Debito</h5>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="margin-left: 25px; height:auto">
      <app-payment [cartSell]="cartSales" (objectCharge)="doSell($event)"></app-payment>
    </div>
  </ng-template> 
